@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ESTILOS GERAIS */

* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 550px 1090px 620px;
  grid-template-rows: 1fr;
  height: 100vh;

}


/* FIM ESTILOS GERAIS */

/* ORGANIZAÇÃO COLUNAS */
.div1 {
  background-color: #f1f1f1;
}

.div2 {
  background-color: #ffffff;
  padding-top: 50px;
}

.div3 {
  background-color: #f1f1f1;
}

/* FIM ORGANIZAÇÃO */

/* MENU LATERAL - DESKTOP */


.menu-lateral {
  z-index: 1;
  list-style-type: none;
  text-decoration: none;
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 30px;
  padding-left: 250px;
}

.menu-lateral .logo {
  
  display: flex;
  justify-content: left;
  color: #000;
  font-size: 20px;
  padding: 25px;
  font-weight: 500;
  padding-bottom: 70px;
  padding-left: 65px;
}


.menu-lateral ul {
  padding-left: 50px;
  list-style-type: none;
}


.menu-lateral ul li a {
  font-size: 20px;
  color: #4b4a4a;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  padding: 10px 15px;
}

.menu-lateral ul li a:hover {
  background-color: #8f8e8e6b;
  color: #000;
  font-weight: 650;
}

.menu-lateral a,
.dropdown-btn {
  text-decoration: none;
  font-size: 20px;
  color: #4b4a4a;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  padding: 10px 15px;
}

.dropdown-container {
  background-color: #ffffff;
  padding-left: 8px;
}

.menu-lateral a:hover,
.dropdown-btn:hover {
  background-color: #8f8e8e6b;
  color: #000;
  font-weight: 650;
}


.espacamento {
  padding-left: 50px;
  margin-top: 120px;
}

.footer-menu a {
  font-size: 15px;
  font-weight: 300;
}


/* FIM MENU LATERAL - DESKTOP */


.logo-mobile {
  display: none; /* Esconde a logo por padrão */
}

/* NAV JEANS */
.navbar {
display: flex;
justify-content: space-between;
padding: 5px;
}

.navbar h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 1;
}

.navbar .icons {
  display: flex;
}

.navbar .icons i {
  margin-left: 10px;
  font-size: 24px;
  font-weight: 700;
}

/* FIM NAV JEANS */


/* IMG PRINCIPAL */
.hero-image {
  background-image: url("https://www.w3schools.com/w3images/jeans.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  position: absolute;
  top: 50px;
  left: 50px; 
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-top: 20px; 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.button-shop {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 12px 30px; 
  font-size: 20px;
  border: none; 
  cursor: pointer; 
  margin-top: 20px;
  
}

.button-shop:hover {
  background-color: #8f8e8e;
}


/* FIM IMG PRINCIPAL */

.product-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px; 
  gap: 30px;
}

.product {
  width: 250px;
  position: relative;
  margin-bottom: 20px; 
}

.product img {
  width: 100%;
  height: 100%; 
}

.product-info {
  color: #000;
}

.product-info h4 {
 padding-bottom: 5px;
}


.product:hover .product-info {
  display: block;
}

.product-name {
  font-weight: bold;
}

.product-price {
  font-size: 14px;
}

.new-tag {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  padding: 3px;
  font-size: 12px;
  display: none;
}

.product:hover .new-tag {
  display: block;
}

.buy-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.product:hover .buy-button {
  display: block;
}


/* FORM SUBSCRIBE */

form {
  padding-top: 50px;
  margin-top: 40px;
  background-color: #000;
  padding-left: 20px; 
}

.form h2,.form p{
  color: #ffffff;
  padding-bottom: 15px;
}

.form h2{
  font-size: 35px;
}


input[type=text]{
  width: calc(100% - 24px);
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  width: calc(10% - 24px);
  padding: 10px;
  margin: 8px 0;
  
}

input[type=submit] {
  background-color: #ff0606;
  color: white;
  border: none;
}

input[type=submit]:hover {
  background-color: #8f8e8e;
}

/* FIM FORM SUBSCRIBE */

/* FOOTER */

footer {
  background-color: #CCCCCC;
  color: #fff;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* FOOTER ESQUERDA */

.footer-left,
.footer-middle,
.footer-right {
  flex: 1;
  text-align: center;
  margin-bottom: 20px;
}

.footer-left form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #CCCCCC;
 
}

#form-container {
  width: 350px;
  margin: auto;
}

.footer-left .contact,
.subcontact{
  color: #000;
}

.footer-left .contact{
  padding-top: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text1"],
input[type="text2"],
input[type="email1"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ff0000;
  border-radius: 5px;
  border-style: dotted;
  box-sizing: border-box;
}

textarea {
  height: 150px;
  resize: none;
}

input[type="submit1"] {
  background-color: #000000;
  color: white;
  padding: 10px 80px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

input[type="submit1"]:hover {
  background-color: #8f8e8e;
}

/* FIM FOOTER ESQUERDA */


/* FOOTER MEIO */

.footer-middle ul {
  list-style: none;
  margin: 50px ;
  padding: 0;
}

.footer-middle .about{
  margin-top: 60px;
  color: #000;
}

.footer-middle ul li {
  margin-bottom: 15px;
}

.footer-middle ul li a{
  color: #000;
  
}

/* FIM FOOTER MEIO */


/* FOOTER DIREITA */

.footer-right .icons{
  color: #000;
}

.footer-right .store{
  padding-top: 60px;
  color: #000;
}

.footer-right p {
  margin: 5px 0;
  padding-top: 30px;
  color: #000;
}

.payment-methods .credit{
  padding-top: 100px;
  color: #000;
}

.payment-methods p{
  color: #000;
  margin-right: 10px;
  padding-top: 10px;
}


.social-media a {
  margin-right: 5px;
  color: #000;
}

.footer-right .social-media{
  padding-top: 20px;
}

/* FIM FOOTER DIREITA */


/* FIM FOOTER GERAL */


.copy{
  padding: 20px;
  background-color: #000000;
  color: #fff;
  text-align: center;
}




@media screen and (max-width: 1600px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .div1, .div2, .div3 {
    width: 100%;
    padding-left: 0;
  }

  /* BOTÃO MOBILE */

#button {
  display: flex;
  flex-direction: column;
  margin-top: 50px; 
  align-items: center;
  border: 0;
  background: transparent;
  row-gap: 4px;
}

button:hover{
  cursor: pointer;
}

button span{
  margin-right: 25px;
  width: 30px;
  height: 2px;
  background: #ffffff;
  border-radius: 10px;
  transition: all 0.4s;
}

button.active span:nth-child(2) {
  opacity: 0;
  width: 2px;
}

button.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 4px);
}

button.active span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -4px);
}

/* FIM BOTÃO MOBILE */

/* AJUSTES MENU MOBILE */
.menu-lateral {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px; 
  transition:  0.3s ease; 
  display: none; 
}

.menu-lateral.menu-open {
  left: 0; 
  display: block; 
}


/* AJUSTES MENU MOBILE */


.mobile-nav {
  background-color: #000; 
  padding: 15px; 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 9999; 
  display: flex; 
  align-items: center; 
}

.logo-mobile {
  display: block;
  margin-left: 15px; 
  color: #fff; 
  font-size: 22px; 
  font-weight: 1; 
}

#button {
  margin-left: auto; 
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  margin-top: 35px;
  }
  
  .navbar h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 1;
  }
  
  .navbar .icons {
    display: flex;
    justify-content: center;
    align-items: ce;
  }
  
  .navbar .icons i {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 700;
  }
 

  .hero-image {
    background-image: url("https://www.w3schools.com/w3images/jeans.jpg");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    top: 20px;
    left: 20px;
    font-size: 24px;
  }

  .button-shop {
    font-size: 16px;
    padding: 10px 20px;
  }

  .product-container {
    justify-content: center;
  }

  .product {
    width: 100%;
    max-width: 250px;
  }

  .product-info {
    text-align: center;
  }

  .product-info p {
    margin-bottom: 10px;
  }


  form {
    padding-top: 50px;
    margin-top: 40px;
    background-color: #000;
    padding-left: 20px; 
  }
  
  .form h2,.form p{
    color: #ffffff;
    padding-bottom: 15px;
  }
  
  .form h2{
    font-size: 30px;
  }

  input[type=submit] {
    width: calc(20% - 24px);
    padding: 10px;
    margin: 8px 0;
    
  }
 
}

/* Para telas menores que 1000px */
@media screen and (max-width: 1000px) {
  .menu-lateral {
    padding-left: 0;
  }

  .navbar h4 {
    font-size: 18px;
  }

  .hero-text {
    font-size: 20px;
  }

  .hero-image {
    background-image: url("https://www.w3schools.com/w3images/jeans.jpg");
    height: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }


  .button-shop {
    font-size: 14px;
    padding: 8px 16px;
  }

  .product-info h4 {
    font-size: 16px;
  }

  .product-info p {
    font-size: 12px;
  }

  form {
    padding-left: 0;
  }

  input[type=text], input[type=submit] {
    width: 100%;
    font-size: 14px;
  }
}

@media screen and (max-width: 560px){
  .hero-image {
    background-image: url("https://www.w3schools.com/w3images/jeans.jpg");
    height: 8%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  form {
    padding-left: 20px; 
  }
  
  .form h2,.form p{
    color: #ffffff;
    padding-bottom: 8px;
  }
  
  .form h2{
    font-size: 28px;
  }
  
  
  input[type=text]{
    width: calc(100% - 24px);
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: calc(50% - 24px);
    padding: 10px;
    margin: 8px 0;
    
  }
  
  

}







